{% extends 'home/base.html' %}
{% load static %}
{% block body %}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-uppercase border-bottom border-5"
                        style="border-color: rgba(256, 256, 256, .3) !important; color: #0285C8;">Welcome To Bejing</h5>
                    <h1 class="display-1 text-white mb-md-4">Olympic Games Beijing 2022</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded"
                             src="https://www.thoughtco.com/thmb/g3AI5elsLz3H7SmHZnBXwVRDKqU=/1333x1000/smart/filters:no_upscale()/UsainBolt-58dbe5253df78c516232331c.jpg"
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4">Olympic Games Beijing 2022</h1>
                    </div>
                    <p>Having won the bid for the 2022 Olympic Winter Games on 31 July 2015, Beijing became the first
                        city
                        in the world to have hosted both the summer and winter editions of the Olympic Games.

                        With a vision of “Joyful Rendezvous upon Pure Ice and Snow,” Beijing 2022 built on the legacies
                        of
                        the landmark Beijing 2008 Olympic Games and encouraged 300 million people across China to
                        embrace
                        winter sports.

                        The 109 events in seven Olympic winter sports were held in the three competition zones of
                        central
                        Beijing, Yanqing and Zhangjiakou. Beijing hosted four snow events (snowboard big air and
                        freestyle
                        skiing big air, men’s and women’s), plus all the ice events (curling, ice hockey and skating),
                        making use of the legacy venues of Beijing 2008.

                        Yanqing, a suburban district of Beijing (80km to the northwest) and home to the famous Badaling
                        and
                        Juyongguan stretches of the Great Wall, hosted the Alpine skiing and sliding (bobsleigh,
                        skeleton
                        and luge) events.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">News</h5>
                <h1 class="display-4">Our Latest News</h1>
            </div>
            <div class="row g-5">
                {% for n in news %}
                    <div class="col-xl-4 col-lg-6">
                        <div class="bg-light rounded overflow-hidden">
                            <img class="img-fluid w-100"
                                 src="{{ n.picture.url }}"
                                 alt="">
                            <div class="p-4">
                                <a class="h3 d-block mb-3" href="{% url 'home:news_details' n.pk %}">{{ n.title|truncatechars:30 }}</a>
                                <p class="m-0">{{ n.short_desc }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}