{% extends 'accounts/form_base.html' %}
{% block title %}Reset Password{% endblock %}
{% block pagetitle %}Reset Password{% endblock %}
{% block body %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}

    <form method="post" onSubmit="return confirm('Are you sure you want to change your password?') ">
        {% csrf_token %}
        <i class="fa fa-user"></i> Username:<input type="text" value="{{ email }}" readonly class="form-control"><br>
        <div>
            <i class="fa fa-key"></i>
            New Password:
            <input type="password" class="form-control" id="new_password" name="password" required>
            <span class="" onclick="password_show_hide2();">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
        </span><br><br>
        </div>
        <div>
            <i class="fa fa-key"></i>
            Confirm New Password:
            <input type="password" class="form-control" id="confirm_password" name="password2" required>
            <span class="" onclick="password_show_hide3();">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
        </span><br><br>

        </div>


        <div class="login-img col ">
            {{ captcha_form.captcha }}
        </div>
        <br>
        <div class="col">
            <label for="email">Enter captcha code here</label>
            <input type="text" class="form-control" required id="captcha" name="captcha_1">
            <br>
            {% if captcha_errors %}
                <div class="alert alert-danger mt-4">{{ captcha_errors }}</div>
            {% endif %}
        </div>
        <br>
        <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-lock"></i> Change Password</button>
    </form>
    <style>
        #id_captcha_1 {
            display: none;
        }
    </style>
    <script>
        const input = document.getElementById('id_captcha_1');
        // ✅ Remove required attribute
        input.removeAttribute('required');

        function password_show_hide2() {
            var x = document.getElementById("new_password");
            var show_eye = document.getElementById("show_eye");
            var hide_eye = document.getElementById("hide_eye");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }

        function password_show_hide3() {
            var x = document.getElementById("confirm_password");
            var show_eye = document.getElementById("show_eye");
            var hide_eye = document.getElementById("hide_eye");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
    </script>
{% endblock %}