{% extends 'accounts/form_base.html' %}
{% block title %}Change Password{% endblock %}
{% block pagetitle %}Change Password{% endblock %}
{% block body %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}
    <form method="post" onSubmit="return confirm('Are you sure you want to change your password?') ">
        {% csrf_token %}

        Old Password:<input type="text" class="form-control" name="old_password" value="{{ old_password }}" required><br><br>
        New Password:<input type="text" class="form-control" name="password" value="{{ password }}" required><br><br>
        Confirm New Password:<input type="text" class="form-control" name="password2" value="{{ password2 }}" required><br><br>


        <div class="login-img col ">
            {{ captcha_form.captcha }}
        </div>
        <br>
        <div class="col">
            <label for="email">Enter captcha code here</label>
            <input type="text" class="form-control" required id="captcha" name="captcha_1">
        <br>
            {% if captcha_errors %}
                <div class="alert alert-danger mt-4">{{ captcha_errors }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group col-md-12">
            <input class="btn btn-primary" type="submit" value="Change Password">
        </div>
    </form>
    <style>
        #id_captcha_1 {
            display: none;
        }
    </style>
    <script>
        const input = document.getElementById('id_captcha_1');
        // ✅ Remove required attribute
        input.removeAttribute('required');
    </script>
{% endblock %}