{% extends 'base.html' %}
{% load static %}
{% block title %}All User{% endblock %}
{% block pagetitle %}Users{% endblock %}

{% block body %}
    <h1>Total User : {{ users.count }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.email }}</td>
                <td>{% if not user.is_blocked %}
                    <form method="post" action="{% url 'accounts:block_user' %}"
                          onsubmit="return confirm('Are you sure you want to unblock this user?')">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ user.email }}">
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-unlock"></i>&nbsp;Block
                            User
                        </button>
                    </form>
                {% elif user.is_blocked %}
                    <form method="post" action="{% url 'accounts:unblock_user' %}"
                          onsubmit="return confirm('Are you sure you want to unblock this user?')">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ user.email }}">
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-unlock"></i>&nbsp;&nbsp;Unblock
                            User
                        </button>
                    </form>{% endif %} </td>
                <td><a class="btn btn-primary btn-sm" href="{% url 'accounts:reset_password' user.email %}">Reset
                    Password</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

